<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="question" action="../Controler/EnvoiMail.php" method="post">
      <label for="sujet">sujet</label>
      <input type="text" name="sujet" value="">
      <textarea name="contenu" rows="8" cols="80">Bonjour, je vous envoie ce mail afin d'avoir votre avis sur une question soumise sur l'application CoLearning dont l'intitulé est le suivant :  </textarea>
        <button type="submit" name="envoiMail">Envoyer</button>
 </form>

  </body>
</html>
